.grid-item {
  background-color: var(--color-light-grey);
  border: 1px solid var(--color-border);
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.grid-item img {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  object-fit: contain;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
