<!-- src/app/contact-section/contact-section.component.html -->
<div id="contact" class="container">
  <h2 class="section-title">Contact</h2>
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="contact-item">
        <i class="fas fa-envelope"></i>
        <p>
          Email:
          <a href="mailto:{{ email }}">{{ email }}</a>
        </p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <p>Address: {{ address }}</p>
      </div>
    </div>
  </div>
</div>
