<div id="home"></div>
<div class="jumbotron text-center">
  <img
    src="./../../assets/myimage.jpg"
    alt="Manoj Manjunatha"
    class="rounded-image"
  />
  <h1 class="display-4" appTyping="Hello, I'm Manoj Manjunatha"></h1>
  <p class="lead animated-subtitle">
    I'm a Software Developer specializing in web and application development.
  </p>
</div>

<div id="social-links" class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4 col-md-2">
      <a href="https://github.com/manu042k" target="_blank" class="social-icon">
        <i class="fab fa-github"></i>
        <p>GitHub</p>
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a
        href="https://www.linkedin.com/in/manojm042k/"
        target="_blank"
        class="social-icon"
      >
        <i class="fab fa-linkedin"></i>
        <p>LinkedIn</p>
      </a>
    </div>
    <div class="col-4 col-md-2">
      <a
        href="https://drive.google.com/drive/folders/1kL0fzznCEdT38PgVDM1BvH1VWfW7ZHFT?usp=drive_link"
        target="_blank"
        class="social-icon"
      >
        <i class="fas fa-file-alt"></i>
        <p>Resume</p>
      </a>
    </div>
  </div>
</div>
<div id="about" class="container">
  <h2 class="section-title">About Me</h2>
  <p>
    I'm Manoj Manjunatha, a Master’s student in Computer Engineering at the
    University of California, Riverside, with a solid background in Electrical
    and Electronics Engineering from BMS Institute of Technology, Bengaluru. My
    experience at Siemens Healthineers has been pivotal in shaping my skills,
    where I contributed to modernizing laboratory and inventory management
    systems, developing scalable cloud-based applications with Django, and
    creating intuitive user interfaces with Angular. My work involved
    integrating APIs, managing inventory records, and deploying solutions on
    Azure Cloud.
  </p>
</div>
