<div id="home"></div>
<div class="jumbotron text-center">
  <img src="{{ imagePath }}" alt="Manoj Manjunatha" class="rounded-image" />
  <h1 class="display-4" appTyping="Hello, I'm Manoj Manjunatha"></h1>
  <p class="lead animated-subtitle">{{ subTitle }}</p>
</div>

<div id="social-links" class="container text-center">
  <div class="row justify-content-center">
    <div class="col-4 col-md-2" *ngFor="let link of socialLinks">
      <a [href]="link.url" target="_blank" class="social-icon">
        <i [class]="link.icon"></i>
        <p>{{ link.name }}</p>
      </a>
    </div>
  </div>
</div>
<div id="about" class="container">
  <h2 class="section-title">About Me</h2>
  <p align="justify">
    {{ aboutMe }}
  </p>
  <hr />
</div>
